.animateDesktop{
	animation: animateDesktop 1s ease;}

	@keyframes animateDesktop{
		0% {
			top:-700px;}
		55% {
			top:20px;}
		100% {
			top:0px;}}

.animateTablet{
	animation: animateTablet 1s ease;}

	@keyframes animateTablet{
		0% {
			top:-700px;}
		50% {
			top:50px;}
		100% {
			top:20px;}}

.animatePhone{
	animation: animatePhone 1s ease;}

	@keyframes animatePhone{
		0% {
			top:-700px;}
		60% {
			top:55px;}
		100% {
			top:30px;}}

.animateSkew1{
	animation: animateSkew1 1.1s ease;}

	@keyframes animateSkew1{
		0% {
			top:-700px;}
		55% {
			top:-120px;}
		100% {
			top:-160px;}}

.animateSkew2{
	animation: animateSkew2 1.1s ease;}

	@keyframes animateSkew2{
		0% {
			top:-700px;}
		50% {
			top:-330px;}
		100% {
			top:-350px;}}

.animateSkew3{
	animation: animateSkew3 1.1s ease;}

	@keyframes animateSkew3{
		0% {
			top:-700px;}
		60% {
			top:-420px;}
		100% {
			top:-445px;}}
