// Partials
@import "partials/_variables.scss";
@import "partials/_animations.scss";

// General styles for tags
html,body{
	
}

a:hover, a:focus{
	text-decoration: none;
}

h1{
	font-family:'Lato',sans-serif;}
p{
	font-family: 'Raleway',sans-serif;}

section{
	text-align:center;}

// Custom classes
.bggray{
	background-color: #F5F6F8;}

.sectionHeading{
	text-transform: uppercase;
	font:300 50px/180px 'Raleway';
	margin:0;}

.btn{
	background-color: transparent;
	border:1px solid $mainColor;
	border-radius:4px;
	color:$mainColor;
	padding:15px 25px;
	margin:0 7px;
	text-transform: uppercase;
	transition-duration: .2s;
	&:hover{
		background-color: $mainColor;
		color:#fff;}}
// General classes

#header{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-position: top left;
	nav{
		line-height: 60px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.12) 0%, rgba(142,142,142,0) 55%, rgba(234,234,234,0) 91%, rgba(255,255,255,0) 99%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.12) 0%,rgba(142,142,142,0) 55%,rgba(234,234,234,0) 91%,rgba(255,255,255,0) 99%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.12) 0%,rgba(142,142,142,0) 55%,rgba(234,234,234,0) 91%,rgba(255,255,255,0) 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00ffffff',GradientType=0 );
		.container-fluid{
			.container{
				.brandLogo{
					padding-right:60px;
					padding-top:5px;
					float:left;
					span{
						color:#eee;
						font:700 25px 'Lato',sans-serif;
						span{
							font-size:15px;
							font-weight: 300;
						}
					}
				}
				.menu{
					float:left;
					ul{
						li{
							a{
								color:#fff;
								text-transform: uppercase;
								font:400 16px 'Raleway',sans-serif;
								padding:0 10px 5px 10px;
							}
						}
						li.active{
							a{
								font-weight:700;
								border-bottom:3px solid #fff;
							}
						}
					}
				}
				.navWidgets{
					float:right;
					i{
						color:white;
						font-size:17px;
					}
				}
			}
		}
	}
	.slider{
		height: 600px;
		.fa-chevron-right, .fa-chevron-left{
			position:absolute;
			top:300px;
			font-size:60px;
			color:white;
			opacity:.3;
			transition-duration: .2s;
			cursor: pointer;
			&:hover{
				opacity:.7;
			}
		}
		.fa-chevron-left{
			left:20px;
		}
		.fa-chevron-right{
			right:20px;
		}
		.container{
			padding-top:150px;
			text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			.text{
				h1{
					text-transform: uppercase;
					color:#fff;
					font-size:50px;
				}
				p{
					margin-top:35px;
					color:#fff;
					font-size:26px;
					line-height: 34px;
				}
			}
			.images{
				img{
					position:relative;
				}
				#desktop{
					width:270px;
					top:0px;
					left:200px;
				}
				#tablet{
					width:100px;
					top:20px;
					left:-130px;
				}
				#phone{
					width:50px;
					top:30px;
					left:60px;
				}
				#skew1{
					width:500px;
					top:-140px;
					left:20px;
				}
				#skew2{
					width:400px;
					top:-350px;
					left:-200px;
				}
				#skew3{
					width:400px;
					top:-455px;
					left:50px;
				}
				/*#screen1{
					transform: rotate(-25deg);
					width:300px;
					left:50px;
				}*/
				#screen2{
					transform: rotate(-30deg);
					width:250px;
					left:50px;
					-webkit-box-shadow: -10px 10px 62px -14px rgba(0,0,0,0.75);
					-moz-box-shadow: -10px 10px 62px -14px rgba(0,0,0,0.75);
					box-shadow: -10px 10px 62px -14px rgba(0,0,0,0.75);
				}
			}
		}
		#container2{display:none;}
		#container3{
			display:none;
			padding-top:50px;
			h1{
				font-size:45px;
			}
			p{
				font-size:20px;
			}
			.col-md-4{
				padding:0;
			}
		}
	}
}

#offers{
	.container-fluid{
		.container{
			padding-bottom: 60px;
			.col-md-3{
				.offer{
					padding:30px 20px 20px 20px;
					i{
						font-size:50px;
					}
					color:#fff;
					h5{
						text-transform: uppercase;
						padding:20px 0 10px 0;
						font-weight: 700;
						font-size: 14px;
					}
				}
				&:first-child{
					.offer{
						background-color: #50A2DE;}}
				&:nth-child(2){
					.offer{
						background-color: #50C5DE;}}
				&:nth-child(3){
					.offer{
						background-color: #5FCBCD;}}
				&:last-child{
					.offer{
						background-color: #5BD4B6;}}
			}
		}
	}
}

#packages{
	.container{
		padding-bottom:50px;
		.col-md-4{
			padding:15px;
			.package{
				background-color:#f7f7f7;
				padding-bottom: 50px;
				animation-duration: 1s;
				h1{
					text-transform: uppercase;
					font-size:25px;
					font-weight: 300;
					line-height: 60px;
					margin:0;}
				.price{
					background-color: $bggray;
					width:100%;
					padding-bottom:10px;
					h2{
						color: $mainColor;
						font:300 115px 'Lato';
						margin: 0;
						span{
							font-size:47px;
							vertical-align:top;
							position: relative;
							top:15px;}}
					p{
						color: $mainColor;
						margin: 0;
						text-transform: uppercase;}}
				.description{
					padding:0 50px;
					ul{
						li{
							border-bottom:1px solid $borderColor;
							padding: 20px 0;
							&:last-child{
								border: none;}}}
					.btn{
						width:100%;
						margin-top:15px;
						transition-duration: 0;
					}
				}
				&:hover {
					background-color:$mainColor;
					h1,h2,p,li{
						color:#fff;
					}
					.price{
						background-color:darken($mainColor,10%);
					}
					.btn{
						background-color: #fff;
						color:$mainColor;
						border-color:#fff;
					}
				}
			}
		}
	}
}