.animateDesktop {
  animation: animateDesktop 1s ease; }

@keyframes animateDesktop {
  0% {
    top: -700px; }
  55% {
    top: 20px; }
  100% {
    top: 0px; } }
.animateTablet {
  animation: animateTablet 1s ease; }

@keyframes animateTablet {
  0% {
    top: -700px; }
  50% {
    top: 50px; }
  100% {
    top: 20px; } }
.animatePhone {
  animation: animatePhone 1s ease; }

@keyframes animatePhone {
  0% {
    top: -700px; }
  60% {
    top: 55px; }
  100% {
    top: 30px; } }
.animateSkew1 {
  animation: animateSkew1 1.1s ease; }

@keyframes animateSkew1 {
  0% {
    top: -700px; }
  55% {
    top: -110px; }
  100% {
    top: -140px; } }
.animateSkew2 {
  animation: animateSkew2 1.1s ease; }

@keyframes animateSkew2 {
  0% {
    top: -700px; }
  50% {
    top: -330px; }
  100% {
    top: -350px; } }
.animateSkew3 {
  animation: animateSkew3 1.1s ease; }

@keyframes animateSkew3 {
  0% {
    top: -700px; }
  60% {
    top: -430px; }
  100% {
    top: -455px; } }
a:hover, a:focus {
  text-decoration: none; }

h1 {
  font-family: 'Lato',sans-serif; }

p {
  font-family: 'Raleway',sans-serif; }

section {
  text-align: center; }

.bggray {
  background-color: #F5F6F8; }

.sectionHeading {
  text-transform: uppercase;
  font: 300 50px/180px 'Raleway';
  margin: 0; }

.btn {
  background-color: transparent;
  border: 1px solid #12B0E2;
  border-radius: 4px;
  color: #12B0E2;
  padding: 15px 25px;
  margin: 0 7px;
  text-transform: uppercase;
  transition-duration: .2s; }
  .btn:hover {
    background-color: #12B0E2;
    color: #fff; }

#header {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: top left; }
  #header nav {
    line-height: 60px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00ffffff',GradientType=0 ); }
    #header nav .container-fluid .container .brandLogo {
      padding-right: 60px;
      padding-top: 5px;
      float: left; }
      #header nav .container-fluid .container .brandLogo span {
        color: #eee;
        font: 700 25px 'Lato',sans-serif; }
        #header nav .container-fluid .container .brandLogo span span {
          font-size: 15px;
          font-weight: 300; }
    #header nav .container-fluid .container .menu {
      float: left; }
      #header nav .container-fluid .container .menu ul li a {
        color: #fff;
        text-transform: uppercase;
        font: 400 16px 'Raleway',sans-serif;
        padding: 0 10px 5px 10px; }
      #header nav .container-fluid .container .menu ul li.active a {
        font-weight: 700;
        border-bottom: 3px solid #fff; }
    #header nav .container-fluid .container .navWidgets {
      float: right; }
      #header nav .container-fluid .container .navWidgets i {
        color: white;
        font-size: 17px; }
  #header .slider {
    height: 600px; }
    #header .slider .fa-chevron-right, #header .slider .fa-chevron-left {
      position: absolute;
      top: 300px;
      font-size: 60px;
      color: white;
      opacity: .3;
      transition-duration: .2s;
      cursor: pointer; }
      #header .slider .fa-chevron-right:hover, #header .slider .fa-chevron-left:hover {
        opacity: .7; }
    #header .slider .fa-chevron-left {
      left: 20px; }
    #header .slider .fa-chevron-right {
      right: 20px; }
    #header .slider .container {
      padding-top: 150px;
      text-shadow: 1px 1px 1px #969696; }
      #header .slider .container .text h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 50px; }
      #header .slider .container .text p {
        margin-top: 35px;
        color: #fff;
        font-size: 26px;
        line-height: 34px; }
      #header .slider .container .images {
        /*#screen1{
        	transform: rotate(-25deg);
        	width:300px;
        	left:50px;
        }*/ }
        #header .slider .container .images img {
          position: relative; }
        #header .slider .container .images #desktop {
          width: 270px;
          top: 0px;
          left: 200px; }
        #header .slider .container .images #tablet {
          width: 100px;
          top: 20px;
          left: -130px; }
        #header .slider .container .images #phone {
          width: 50px;
          top: 30px;
          left: 60px; }
        #header .slider .container .images #skew1 {
          width: 500px;
          top: -140px;
          left: 20px; }
        #header .slider .container .images #skew2 {
          width: 400px;
          top: -350px;
          left: -200px; }
        #header .slider .container .images #skew3 {
          width: 400px;
          top: -455px;
          left: 50px; }
        #header .slider .container .images #screen2 {
          transform: rotate(-30deg);
          width: 250px;
          left: 50px;
          -webkit-box-shadow: -10px 10px 62px -14px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -10px 10px 62px -14px rgba(0, 0, 0, 0.75);
          box-shadow: -10px 10px 62px -14px rgba(0, 0, 0, 0.75); }
    #header .slider #container2 {
      display: none; }
    #header .slider #container3 {
      display: none;
      padding-top: 50px; }
      #header .slider #container3 h1 {
        font-size: 45px; }
      #header .slider #container3 p {
        font-size: 20px; }
      #header .slider #container3 .col-md-4 {
        padding: 0; }

#offers .container-fluid .container {
  padding-bottom: 60px; }
  #offers .container-fluid .container .col-md-3 .offer {
    padding: 30px 20px 20px 20px;
    color: #fff; }
    #offers .container-fluid .container .col-md-3 .offer i {
      font-size: 50px; }
    #offers .container-fluid .container .col-md-3 .offer h5 {
      text-transform: uppercase;
      padding: 20px 0 10px 0;
      font-weight: 700;
      font-size: 14px; }
  #offers .container-fluid .container .col-md-3:first-child .offer {
    background-color: #50A2DE; }
  #offers .container-fluid .container .col-md-3:nth-child(2) .offer {
    background-color: #50C5DE; }
  #offers .container-fluid .container .col-md-3:nth-child(3) .offer {
    background-color: #5FCBCD; }
  #offers .container-fluid .container .col-md-3:last-child .offer {
    background-color: #5BD4B6; }

#packages .container {
  padding-bottom: 50px; }
  #packages .container .col-md-4 {
    padding: 15px; }
    #packages .container .col-md-4 .package {
      background-color: #f7f7f7;
      padding-bottom: 50px;
      animation-duration: 1s; }
      #packages .container .col-md-4 .package h1 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 300;
        line-height: 60px;
        margin: 0; }
      #packages .container .col-md-4 .package .price {
        background-color: #F0F0F0;
        width: 100%;
        padding-bottom: 10px; }
        #packages .container .col-md-4 .package .price h2 {
          color: #12B0E2;
          font: 300 115px 'Lato';
          margin: 0; }
          #packages .container .col-md-4 .package .price h2 span {
            font-size: 47px;
            vertical-align: top;
            position: relative;
            top: 15px; }
        #packages .container .col-md-4 .package .price p {
          color: #12B0E2;
          margin: 0;
          text-transform: uppercase; }
      #packages .container .col-md-4 .package .description {
        padding: 0 50px; }
        #packages .container .col-md-4 .package .description ul li {
          border-bottom: 1px solid #E9E9E9;
          padding: 20px 0; }
          #packages .container .col-md-4 .package .description ul li:last-child {
            border: none; }
        #packages .container .col-md-4 .package .description .btn {
          width: 100%;
          margin-top: 15px;
          transition-duration: 0; }
      #packages .container .col-md-4 .package:hover {
        background-color: #12B0E2; }
        #packages .container .col-md-4 .package:hover h1, #packages .container .col-md-4 .package:hover h2, #packages .container .col-md-4 .package:hover p, #packages .container .col-md-4 .package:hover li {
          color: #fff; }
        #packages .container .col-md-4 .package:hover .price {
          background-color: #0e8bb3; }
        #packages .container .col-md-4 .package:hover .btn {
          background-color: #fff;
          color: #12B0E2;
          border-color: #fff; }

/*# sourceMappingURL=style.css.map */
