.animateDesktop {
  animation: animateDesktop 1s ease; }

@keyframes animateDesktop {
  0% {
    top: -700px; }
  55% {
    top: 20px; }
  100% {
    top: 0px; } }
.animateTablet {
  animation: animateTablet 1s ease; }

@keyframes animateTablet {
  0% {
    top: -700px; }
  50% {
    top: 50px; }
  100% {
    top: 20px; } }
.animatePhone {
  animation: animatePhone 1s ease; }

@keyframes animatePhone {
  0% {
    top: -700px; }
  60% {
    top: 55px; }
  100% {
    top: 30px; } }
.animateSkew1 {
  animation: animateSkew1 1.1s ease; }

@keyframes animateSkew1 {
  0% {
    top: -700px; }
  55% {
    top: -120px; }
  100% {
    top: -160px; } }
.animateSkew2 {
  animation: animateSkew2 1.1s ease; }

@keyframes animateSkew2 {
  0% {
    top: -700px; }
  50% {
    top: -330px; }
  100% {
    top: -350px; } }
.animateSkew3 {
  animation: animateSkew3 1.1s ease; }

@keyframes animateSkew3 {
  0% {
    top: -700px; }
  60% {
    top: -420px; }
  100% {
    top: -445px; } }
a:hover, a:focus {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato',sans-serif; }

p, span {
  font-family: 'Raleway',sans-serif; }

section {
  text-align: center; }

.bggray {
  background-color: #F5F6F8; }

.sectionHeading {
  text-transform: uppercase;
  font: 300 50px/180px 'Raleway';
  margin: 0; }

.btn {
  background-color: transparent;
  border: 1px solid #12B0E2;
  border-radius: 4px;
  color: #12B0E2;
  padding: 15px 25px;
  margin: 0 7px;
  text-transform: uppercase;
  transition-duration: .2s; }
  .btn:hover {
    background-color: #12B0E2;
    color: #fff; }

#header {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: top left;
  height: 670px;
  overflow: hidden; }
  #header nav {
    line-height: 60px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(142, 142, 142, 0) 55%, rgba(234, 234, 234, 0) 91%, rgba(255, 255, 255, 0) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00ffffff',GradientType=0 ); }
    #header nav .container-fluid .container .brandLogo {
      padding-right: 60px;
      padding-top: 5px;
      float: left; }
      #header nav .container-fluid .container .brandLogo span {
        color: #eee;
        font: 700 25px 'Lato',sans-serif; }
        #header nav .container-fluid .container .brandLogo span span {
          font-size: 15px;
          font-weight: 300; }
    #header nav .container-fluid .container .menu {
      float: left; }
      #header nav .container-fluid .container .menu ul li a {
        color: #fff;
        text-transform: uppercase;
        font: 400 16px 'Raleway',sans-serif;
        padding: 0 10px 5px 10px; }
      #header nav .container-fluid .container .menu ul li.active a {
        font-weight: 700;
        border-bottom: 3px solid #fff; }
    #header nav .container-fluid .container .navWidgets {
      float: right; }
      #header nav .container-fluid .container .navWidgets i {
        color: white;
        font-size: 17px; }
  #header .fixedMenu {
    position: fixed;
    top: 0; }
  #header .slider .fa-chevron-right, #header .slider .fa-chevron-left {
    position: absolute;
    top: 300px;
    font-size: 60px;
    color: white;
    opacity: .3;
    transition-duration: .2s;
    cursor: pointer; }
    #header .slider .fa-chevron-right:hover, #header .slider .fa-chevron-left:hover {
      opacity: .7; }
  #header .slider .fa-chevron-left {
    left: 20px;
    z-index: 3; }
  #header .slider .fa-chevron-right {
    right: 20px;
    z-index: 3; }
  #header .slider .container {
    padding-top: 150px;
    text-shadow: 1px 1px 1px #969696; }
    #header .slider .container .text h1 {
      text-transform: uppercase;
      color: #fff;
      font-size: 50px; }
    #header .slider .container .text p {
      margin-top: 35px;
      color: #fff;
      font-size: 26px;
      line-height: 34px; }
    #header .slider .container .images img {
      position: relative; }
    #header .slider .container .images #desktop {
      width: 270px;
      top: 0px;
      left: 200px; }
    #header .slider .container .images #tablet {
      width: 100px;
      top: 20px;
      left: -130px; }
    #header .slider .container .images #phone {
      width: 50px;
      top: 30px;
      left: 60px; }
    #header .slider .container .images #skew1 {
      width: 500px;
      top: -160px;
      left: 10px; }
    #header .slider .container .images #skew2 {
      width: 400px;
      top: -350px;
      left: -220px; }
    #header .slider .container .images #skew3 {
      width: 400px;
      top: -445px;
      left: 40px; }
    #header .slider .container .images #screen3 {
      width: 650px;
      top: 200px;
      left: -50px; }
  #header .slider #container2 {
    display: none; }
  #header .slider #container3 {
    display: none;
    padding-top: 50px; }
    #header .slider #container3 h1 {
      font-size: 45px; }
    #header .slider #container3 p {
      font-size: 20px; }
    #header .slider #container3 .col-md-4 {
      padding: 0; }
      #header .slider #container3 .col-md-4:first-child {
        text-align: left; }
      #header .slider #container3 .col-md-4:last-child {
        text-align: right; }

#offers .container-fluid .container {
  padding-bottom: 60px; }
  #offers .container-fluid .container .col-md-3 .offer {
    padding: 30px 20px 20px 20px;
    transition-duration: .2s;
    color: #fff; }
    #offers .container-fluid .container .col-md-3 .offer i {
      font-size: 50px; }
    #offers .container-fluid .container .col-md-3 .offer h5 {
      text-transform: uppercase;
      padding: 20px 0 10px 0;
      font-weight: 700;
      font-size: 14px; }
  #offers .container-fluid .container .col-md-3:first-child .offer {
    background-color: #50A2DE; }
    #offers .container-fluid .container .col-md-3:first-child .offer:hover {
      background-color: #206fa8; }
  #offers .container-fluid .container .col-md-3:nth-child(2) .offer {
    background-color: #50C5DE; }
    #offers .container-fluid .container .col-md-3:nth-child(2) .offer:hover {
      background-color: #2090a8; }
  #offers .container-fluid .container .col-md-3:nth-child(3) .offer {
    background-color: #5FCBCD; }
    #offers .container-fluid .container .col-md-3:nth-child(3) .offer:hover {
      background-color: #2f9597; }
  #offers .container-fluid .container .col-md-3:last-child .offer {
    background-color: #5BD4B6; }
    #offers .container-fluid .container .col-md-3:last-child .offer:hover {
      background-color: #2a9f82; }

#portfolio {
  padding-bottom: 50px; }
  #portfolio .container-fluid .sectionHeading {
    padding-top: 20px;
    line-height: 150px; }
  #portfolio .container-fluid .container .row {
    padding: 30px 0; }
    #portfolio .container-fluid .container .row .col-md-4 .portItem {
      position: relative;
      height: 200px;
      overflow: hidden;
      border: 1px solid #E9E9E9;
      -webkit-box-shadow: 0px 10px 16px -13px black;
      -moz-box-shadow: 0px 10px 16px -13px black;
      box-shadow: 0px 10px 16px -13px black; }
      #portfolio .container-fluid .container .row .col-md-4 .portItem .itemImg img {
        width: 100%;
        position: relative; }
      #portfolio .container-fluid .container .row .col-md-4 .portItem .itemAbout {
        padding: 10px;
        padding-top: 35px;
        background-color: rgba(3, 29, 37, 0.5);
        visibility: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-shadow: 2px 2px 5px #969696; }
        #portfolio .container-fluid .container .row .col-md-4 .portItem .itemAbout span {
          color: #fff; }
        #portfolio .container-fluid .container .row .col-md-4 .portItem .itemAbout i {
          font-size: 80px;
          margin-top: 30px;
          color: #fff;
          display: block; }
      #portfolio .container-fluid .container .row .col-md-4 .portItem:hover > .itemAbout {
        visibility: visible; }

#packages .container {
  padding-bottom: 50px; }
  #packages .container .col-md-4 {
    padding: 15px; }
    #packages .container .col-md-4 .package {
      background-color: #f7f7f7;
      padding-bottom: 50px;
      animation-duration: 1s; }
      #packages .container .col-md-4 .package h1 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 300;
        line-height: 60px;
        margin: 0; }
      #packages .container .col-md-4 .package .price {
        background-color: #F0F0F0;
        width: 100%;
        padding-bottom: 10px; }
        #packages .container .col-md-4 .package .price h2 {
          color: #12B0E2;
          font: 300 115px 'Lato';
          margin: 0; }
          #packages .container .col-md-4 .package .price h2 span {
            font-size: 47px;
            vertical-align: top;
            position: relative;
            top: 15px; }
        #packages .container .col-md-4 .package .price p {
          color: #12B0E2;
          margin: 0;
          text-transform: uppercase; }
      #packages .container .col-md-4 .package .description {
        padding: 0 50px; }
        #packages .container .col-md-4 .package .description ul li {
          border-bottom: 1px solid #E9E9E9;
          padding: 20px 0; }
          #packages .container .col-md-4 .package .description ul li:last-child {
            border: none; }
        #packages .container .col-md-4 .package .description .btn {
          width: 100%;
          margin-top: 15px;
          transition-duration: 0; }
      #packages .container .col-md-4 .package:hover {
        background-color: #12B0E2; }
        #packages .container .col-md-4 .package:hover h1, #packages .container .col-md-4 .package:hover h2, #packages .container .col-md-4 .package:hover p, #packages .container .col-md-4 .package:hover li {
          color: #fff; }
        #packages .container .col-md-4 .package:hover .price {
          background-color: #0e8bb3; }
        #packages .container .col-md-4 .package:hover .btn {
          background-color: #fff;
          color: #12B0E2;
          border-color: #fff; }

#team {
  padding-bottom: 50px; }
  #team .container .col-md-3 .teamMember .overlap {
    position: relative;
    height: auto; }
    #team .container .col-md-3 .teamMember .overlap .memberImg img {
      width: 100%; }
    #team .container .col-md-3 .teamMember .overlap .memberAbout {
      padding: 30px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      visibility: hidden;
      background-color: rgba(26, 198, 255, 0.8);
      color: #fff; }
      #team .container .col-md-3 .teamMember .overlap .memberAbout ul {
        position: relative;
        top: 30px; }
        #team .container .col-md-3 .teamMember .overlap .memberAbout ul li {
          padding-right: 0; }
          #team .container .col-md-3 .teamMember .overlap .memberAbout ul li a i {
            width: 28px;
            height: 28px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px; }
            #team .container .col-md-3 .teamMember .overlap .memberAbout ul li a i:hover {
              background-color: #fff;
              color: #12B0E2; }
  #team .container .col-md-3 .teamMember h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: #12B0E2;
    text-transform: uppercase;
    margin-bottom: 0px; }
  #team .container .col-md-3 .teamMember h2 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px; }
  #team .container .col-md-3 .teamMember:hover > .overlap > .memberAbout {
    visibility: visible; }

#footer {
  background-color: #000;
  color: #fff;
  text-transform: uppercase; }
  #footer .container-fluid {
    padding-top: 90px;
    padding-bottom: 60px; }
    #footer .container-fluid .container .col-md-4 {
      text-align: left; }
      #footer .container-fluid .container .col-md-4 form input {
        padding: 10px;
        background-color: transparent;
        border: 1px solid gray; }
      #footer .container-fluid .container .col-md-4 p {
        font-size: 13px;
        font-weight: 700;
        line-height: 30px; }
      #footer .container-fluid .container .col-md-4 span {
        color: gray;
        display: block; }
      #footer .container-fluid .container .col-md-4 a {
        color: gray;
        transition-duration: .2s; }
        #footer .container-fluid .container .col-md-4 a:hover {
          color: #fff; }
        #footer .container-fluid .container .col-md-4 a i {
          font-size: 20px;
          padding: 0 10px; }
          #footer .container-fluid .container .col-md-4 a i:first-child {
            padding-left: 0; }
      #footer .container-fluid .container .col-md-4 ul {
        margin-left: 100px; }
        #footer .container-fluid .container .col-md-4 ul li {
          padding: 5px 0;
          font-weight: 700; }

@media screen and (max-width: 1200px) {
  #header .slider .container {
    padding-top: 50px; }
  #header .slider #container1 .images {
    padding-top: 100px; }
  #header .slider #container2 .images {
    padding-top: 100px; }
  #header .slider #container3 #screen3 {
    left: -130px !important; }

  #offers .col-md-3 .offer p {
    padding-bottom: 20px; }

  #team .teamMember .memberAbout ul li {
    margin: 5px 0; } }
@media screen and (max-width: 992px) {
  #header .slider #container3 .col-md-4 {
    text-align: center !important; }
    #header .slider #container3 .col-md-4:first-child {
      padding-bottom: 35px; }

  #offers .col-md-3 .offer i {
    margin-top: 70px; }
  #offers .col-md-3 .offer h5, #offers .col-md-3 .offer p {
    font-size: 18px !important; }

  #portfolio .row {
    padding: 0 !important; }
    #portfolio .row .col-md-4 {
      padding: 25px 15px; }
      #portfolio .row .col-md-4 .portItem {
        height: 400px !important; }

  #packages .col-md-4 .package .description .btn {
    padding: 15px 0; }

  #footer .col-sm-12 {
    padding-bottom: 50px; }
    #footer .col-sm-12 p {
      text-align: center; }
    #footer .col-sm-12 form {
      text-align: center; }
      #footer .col-sm-12 form input {
        width: 50%; }
      #footer .col-sm-12 form input#submit {
        width: 10%; } }

/*# sourceMappingURL=style.css.map */
